html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}
  
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: #c4c4c4;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/* NAVBAR */

#perfil_img_navbar {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}


/* TABLA */


.pendientes {
    background-color: rgba(255, 0, 0, 0.4);
}

.concretadas {
    background-color: rgba(0, 255, 0, 0.4);
}

td img {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#search {
    width: 20px;
}

.carousel-item img {
    width: 600px;
    height: 600px;
}
.modal {
    background-color: #c4c4c4;
}
.modal::-webkit-scrollbar {
    visibility: hidden;
}


.grid-propertys {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2rem;
    overflow-y: scroll;
}

.grid-propertys::-webkit-scrollbar {
    width: 10px;
}

.grid-propertys::-webkit-scrollbar-thumb {
    background-color: #8E8383;
    border-radius: 1rem;
}

.grid-propertys div {
    justify-self: center;
    margin-bottom: 1rem;
}

.figure-casa {
    width: 100%;
    height: 80%;
}

.casa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}


form.is-readonly .btn-save {
    display: none;
}

form.is-readonly input[disabled], form.is-readonly textarea[disabled] {
    cursor: text;
    background-color: #fff;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
}

form.is-editing .btn-edit {
    display: none;
}
