html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}
  
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: #c4c4c4;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.carousel-item img {
    width: 600px;
    height: 600px;
}
.modal {
    background-color: #c4c4c4;
}
.modal::-webkit-scrollbar {
    visibility: hidden;
}

.butons {
    grid-area: butons;
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 05.rem;
    align-items: center;
    justify-content: center;
}

.butons button {
    margin-left: 3rem;
    margin-right: 3rem;
}

.butons h3 {
    text-align: center;
}

.calendar {
    position: relative;
    grid-area: calendar;
    width: 80%;
    height: 80%;
    margin-top: 5rem;
    margin-left: 1rem;
}

.calendar-ol {
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    gap:0;
    list-style:none;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: 0;
}

.calendar-ol::-webkit-scrollbar {
    width: 10px;
}

.calendar-ol::-webkit-scrollbar-corner {
    visibility: hidden;
}

.calendar-ol::-webkit-scrollbar-thumb {
    background-color: #8E8383;
    border-radius: 1rem;
}

.days {
    width: 100px;
    height: 100px;
    border: solid thin black;
}

.first-day {
    grid-column-start: 3;
}

.day-name {
    background-color: #8E8383;
    font-weight: bold;
    margin-bottom: 1rem;
}

.collapse-right {
    position: absolute;
    top: 0;
    left: 70%;
}

#colapsado {
    width: 40vw;
    height: 65vh;
    margin-left: 1rem;
    border: solid thin #000;
    background-color: #c4c4c4;
}

#colapsado::-webkit-scrollbar {
    visibility: hidden;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    margin-top: 5rem;
    padding: 0;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label[for="tabagenda"] {
    margin-left:8rem;
}

.label-tab {
    border-radius: 0.30rem 0.30rem 0 0;
    background: #8E8383;
    font-weight: bold;
    width: 20vw;
    text-align: center;
    cursor: pointer;
}

.mytabs .tab {
    margin:0;
    width: 100%;
    height: 86vh;
    padding: 0;
    background: #BDB4B4;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 2em;
    padding: 1rem;
    margin: 0;
}

.mytabs .tab p {
    padding: 1rem;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #BDB4B4;
}




.grid-propertys {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 10px;
    margin-top: 5rem;
    overflow-y: scroll;
}

.grid-propertys::-webkit-scrollbar {
    width: 10px;
}

.grid-propertys::-webkit-scrollbar-thumb {
    background-color: #8E8383;
    border-radius: 1rem;
}

.property {
    width: 15rem;
    height: 17rem;
    border: solid medium black;
    align-self: center;
    justify-self: center;
}

.figure-casa {
    width: 100%;
    height: 80%;
}

.casa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}


form.is-readonly .btn-save {
    display: none;
}

form.is-readonly input[disabled], form.is-readonly textarea[disabled] {
    cursor: text;
    background-color: #fff;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
}

form.is-editing .btn-edit {
    display: none;
}
