/* 
Agenda y calendario
*/

.label-calendar {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    width: 1.5rem;
    background: #8E8383;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.datos th,.datos td {
    padding-left: 0.55rem;
    padding-bottom: 0.1rem;
    margin: 2rem 2rem 0 2rem;
}


.estado select, .estado option {
    border-radius: 1rem;
}

body {
    position: relative;
}


#boton {
    position: absolute;
    bottom: 100%;
    left: 95vw;
    width:3rem;
    height: 3rem;
}

.link-canvas {
    color:black;
    
}