body {
    font-family: 'Courier New', Courier, monospace;
}

#div-gral {
    margin-top: 2rem;
}

/* AGENDA */

.datos th,.datos td {
    padding-left: 0.55rem;
    padding-bottom: 0.1rem;
    margin: 2rem 2rem 0 2rem;
}


/* CALENDARIO */

#calendar_next, #calendar_prev {
    width: 30px;
}

.calendar__info {
    font-size: 40px;
}

.calendar__next, .calendar__prev {
    cursor: pointer;

}
.calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.calendar__date {
    border-radius: 20px;
    margin: 2px;
    font-size: 20px;
}


/* NAVBAR */

#perfil_img_navbar {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}



/* NOTAS Y TAREAS */


#notes {
    background-color: rgba(255, 255, 0, 0.4);
}

#tasks {
    background-color: rgba(255, 0, 0, 0.4);
}

#completed_tasks {
    background-color: rgba(0, 255, 0, 0.4);
}


/* DIA SELECCIONADO */

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}


#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

/* nav reportes */

.nav-reportes {
    display:flex;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.card article {
    display: flex;
}

.label-reportes {
    margin-right: 0.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.form-select {
    width: 1rem;
}

#select {
    width: 6rem;
}

.tabla article {
    display:flex;
    margin-bottom: 2rem;
}

.tabla input {
    width: 15rem;
    margin-right: 2rem;
}