html, body{
  height:100%;
  width:100%;
}
#bg {

  background-image: url('Assets/oficina.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}