/* NAVBAR */

#perfil_img_navbar {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}


/* TABLA */
.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.pendientes {
    background-color: rgba(255, 0, 0, 0.4);
}

.concretadas {
    background-color: rgba(0, 255, 0, 0.4);
}

td img {
    width: 22px;
    margin-left: 3px;
    
}

#search {
    width: 20px;
}